{% extends 'base.html' %}


{% block header %}
  <h2 class="page-title">{% block title %}Module 1 Assignment: Personal Website{% endblock title %}</h2>
{% endblock header %}


{% block content %}
  <div class="projects-content">
   This assignment will teach you the fundamentals of website construction. You will build a personal developer website that includes a biography, contact information/links, and details about your Python projects. This will give you a chance to both be creative and learn the fundamentals of website development. We will look back and update this website throughout the course as our set of Python projects grows.
     You will practice working with Flask, a micro web framework written in Python. You will first learn to work with HTML, and then you will learn to work with cascading style sheets (CSS) to describe how HTML elements are to be displayed. Your output should be a functional personal website that includes details about you, your projects, and contact information.
  <p> Link to my Module 1 Project GitHub: <a href="https://github.com/sunnyjenfeng/jhu_software_concepts/tree/main/Module_1" target="_blank">GitHub</a></p>
  </p>
  </div>
{% endblock content %}